/*#AEB4A9*/
/*#E0C1B3*/ /* no good */
/*#D89A9E*/ /* no good */
/*#C37D92*/ /* no good */
/*#C5D9E2*/
/*#A4BFEB*/
/*#90C2E7*/
/*#B5F8FE*/
/*#4E5340*/
/*#3E4E4C*/

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #AEB4A9;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}

nav{
    background-color: black;
    height: 2.5em;
}

img{
    margin: 2rem 0rem 0rem  ;
    width: 35rem;
    height: 35rem;
    border-radius: 100%; /* make it round*/
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.2);
}
img:hover {
    margin: 2rem 0rem 0rem;
    width: 38rem;
    height: 38rem;
    border-radius: 100%;
    /* make it round*/
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.2);
}
#logo{
    color: white;
    font-weight: 100;
    /* margin: ; */
    padding: 0.5rem 1.5rem  0 1.5rem ;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.2);
}

.image-container{
    text-align: center;
}

footer{
    background-color: #B7D1DA;
}

h2{
    color: #4E5340;
    font-family: DauphinPlain;
    font-weight: 400;
    font-style: italic;
}

h1{
    color: #3E4E4C;
    font-style:oblique;
    /* background-color: black ; */
}